[Unit]
Description = frp
After = network.target

[Service]
ExecStart = /root/frp/frps -c /root/frp/server.ini
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target